ticker-form{
  height:100%;
  width:100%;
}
.validation-error{
  background-color: #fed3d3;
  color: #820000;
}


.tickerform-0{
  display:flex;
  flex-direction: column;
  width:20%;
  height:100%;
  @media only screen and (max-width: 500px){
    width:100%;
    height:50%;
  } 
  @media only screen and (max-width: 1000px){
    width:50%;
    height:50%;
  } 
}

.plotly-graph-container{
  width:100%;
  height:100%;
  }


  /*

javascript:(function(d){var w=d.documentElement.offsetWidth,t=d.createTreeWalker(d.body,NodeFilter.SHOW_ELEMENT),b;while(t.nextNode()){b=t.currentNode.getBoundingClientRect();if(b.right>w||b.left<0){t.currentNode.style.setProperty('outline','1px dotted red','important');console.log(t.currentNode);}};}(document));


  */